<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CBA Demo</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>

<body>

  <ul class="topnav">
    <li><a href="index.html">HLS</a></li>
    <li><a href="cps.html">CPS</a></li>
    <li class="right"><a class="active" href="#about">About</a></li>
  </ul>

  <div style="padding:0 16px;">
    <h2>Transaction History Demo App  <img src="https://cdn.playbuzz.com/cdn/4abd5903-6eb7-4960-bafc-193ace339560/a19fce04-32c1-424f-967b-050a4d2e2d01.jpg" alt="" width="62" height="42"> </h2>
   <img src="https://www.w3schools.com/images/lamp.jpg" alt="Lamp" width="15" height="15">
    <pstyle="padding:0 26px;">powered by IBM Bluemix</p>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>

</html>
